.DS_Store
/docs/phpdoc
/docs/phpunit
/docs/Developers Manual/*.aux
/docs/Developers Manual/*.toc
/docs/Developers Manual/*.log
/docs/Developers Manual/*.out
/docs/Developers Manual/*.blg
/docs/Developers Manual/*.bbl
/docs/Developers Manual/*.synctex.gz
/docs/Developers Manual/parts/*.aux


/nbproject/private/
!.gitignore
/application/storage/files/4.png
/application/storage/files/2.potx
/application/storage/files/3.docx
/nbproject/
docs/Developers Manual/Developers-Manual.lof

docs/Developers Manual/Developers-Manual.pdf

docs/Developers Manual/biblio.bib
