<phpunit bootstrap="bootstrap.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         stopOnError="true"
         stopOnFailure="true"
         stopOnIncomplete="true"
         stopOnSkipped="true">
    <testsuite name="Application">
        <directory>./module/Application</directory>
        <exclude>./_application</exclude>
        <exclude>./_library</exclude>
    </testsuite>
    <filter>
        <blacklist>
            <directory suffix=".php">./../module/Application/src/Application/Model/</directory>
            <directory suffix=".php">./../module/Application/config/</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html"
             target="../docs/coverage"
             charset="UTF-8"
             yui="true"
             highlight="true"
             lowUpperBound="50"
             highLowerBound="70" />
    </logging>
</phpunit>
